*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #ffffff;
    font-family: Helvetica;
}   







.waltillaDevBanner img
{
    max-width: 100%;
    display: inline-block


}

.firstInfo img
{
    width: 20%;
    height: 20%;
    position: center;
}

.profileContactTop
{
 
    float: center;
    background-color: white;
    max-width: 600px;

    
}
.profileContactTop img
{

    height: 10%;
    width: 10%;
}
.profileContactTop small
{
  font-size: 8;
}
.ProfilePic img
{
    height: 10%;
    widows: 10%;
}




.contacticons
{
    position: center;
}
.contacticons img
{
    margin-top: 15px;
    margin-left: 15px;
    height: 5%;
    width: 5%;
}








.githubbar img
{
    width: 60%;
    height: 60%;
    margin: 5px;
    float: center;

} 

.githubbar small
{
    width: 60%;
    padding-top: 10px;
    display: block;
    font-family: Helvetica;
    font-size: 10px;
}
.githubbar
{
   width: 100%;
   padding: 30px 10px;
   margin: 2%;
   text-align: left; 
   background: FAFAFA;
}




.profile-info
{
    width: 100%;
    margin: auto;
    float: center;
    overflow: scroll;
    overflow-x: hidden;
    max-width: 700px;

}
.profile-info::-webkit-scrollbar
{
    width: 0px;
}







.profile-info h1
{
    margin-top: 10px;
    margin-bottom: 30px;
}
.skillicons img
{
    padding-top: 10px;    
    padding: 0 20px;
    height: 50px;
}
.skillicons
{
    margin-top: 20px;
    margin-left: 15px;
}
.skills img
{
    width: 50%;
    margin: 5px;
} 
.skills
{
   display: inline-block;
   width: 75%;
   padding: 30px 10px;
   margin: 2%;
   text-align: center; 
   background: FAFAFA;
}
.skills small
{
    padding-top: 10px;
    display: block;
    font-family: Helvetica;
    font-size: 10px;
}


 

